.samples-slider {
  margin-bottom: 5px;
}

.sample-tabs > .tab-view > .tab-labels-container {
  display: none;
}

.chart-viewer {
  width: 457px;
  height: 900px;
  border: none;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

.code-viewer {
  width: calc(100% - 480px);
  margin-top: 10px;
}

.code-tab {
  height: 603px;
}

.code-viewer .tab-labels-container div:nth-child(2) {
  display: none;
}

.quick-start-viewer {
  margin-top: -210px;
}

.wrapper-logo {
  width: 73px;
}

/*
* For Tablet devices
*/
@media screen and (max-width: 800px) {
  .chart-viewer {
    width: 457px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .code-viewer {
    width: 100%;
    margin-top: -200px;
  }

  .code-tab {
    height: 360px;
  }

  .quick-start-viewer {
    margin-top: 0;
  }
}

/*
* For Mobile devices
*/
@media screen and (max-width: 500px) {
  .chart-viewer {
    width: 457px;
    margin: 0 auto;
    margin-bottom: 10px;
    -webkit-transform: scale(0.66);
            transform: scale(0.66);
    -webkit-transform-origin: center top;
            transform-origin: center top;
  }

  .code-viewer {
    width: 100%;
    margin-top: -300px;
  }

  .code-tab {
    height: 360px;
  }

  .wrapper-logo {
    width: 64px;
  }
}