/* You can add global styles to this file, and also import other style files */
@import 'https://s3-eu-west-1.amazonaws.com/fcdesignsystem/1.0.0/css/fusionDesign.css';
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/material.css";

.demo-list > a.active > .nav-item{
  color: #FFFFFF;
  background: #6957DA;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 9px 0 rgba(23, 28, 33, .06);
  cursor: auto;
}