<div class="container container-1200 info-wrapper pb-3">
  <div class="row">
    <div class="col">
      <div class="h2 mt-2">Features</div>
      <!-- list start -->
      <div class="row">
        <div class="col-md-6">
          <ul class="feature-list">
            <li>
              <span>
                <i class="icn-inline icn-success fc_select"></i>
              </span>
              <div>Adds a chart using just one single component.</div>
            </li>
            <li>
              <span>
                <i class="icn-inline icn-success fc_select"></i>
              </span>
              <div>Auto-updates the chart object when the data source is modified.</div>
            </li>
            <li>
              <span>
                <i class="icn-inline icn-success fc_select"></i>
              </span>
              <div>Adds a chart from a JSON URL, from a XML URL, or using props Binding.</div>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="feature-list">
            <li>
              <span><i class="icn-inline icn-success fc_select"></i></span>
              <div>Allows you to enable interactivity between Javascript charts</div>
            </li>
            <li>
              <span><i class="icn-inline icn-success fc_select"></i></span>
              <div>
                Offers advanced control by giving you access to the complete FusionCharts object (containing the chart
                configuration).
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- list end -->
    </div>
  </div>
</div>